<footer>
    <div class="container">
        <h2><%= footer.heading %></h2>
        <ul id="social">
            <li><a href="<%= footer.social.twitter %> " class="twitter"><i class="fab fa-twitter fa-fw "></i></a></li>
            <li><a href="<%= footer.social.youtube %> " class="youtube"><i class="fab fa-youtube fa-fw "></i></a></li>
            <li><a href="<%= footer.social.github %> " class="github"><i class="fab fa-github fa-fw "></i></a></li>
            <li><a href="<%= footer.social.twitch %> " class="twitch"><i class="fab fa-twitch fa-fw "></i></a></li>
            <li><a href="<%= footer.social.discord %> " class="discord"><i class="fab fa-discord fa-fw "></i></a></li>
            <li><a href="<%= footer.social.telegram %> " class="telegram">
                    <i class="fab fa-telegram-plane fa-fw "></i></a></li>
        </ul>
    </div>
    <% if (footer.credit) { %>
    <p>Made with ❤️ by <b>BayuDC</b></p>
    <% } %>
</footer>