<link rel="icon" href="img/<%= meta.favicon %>?width=64">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap">
<link rel="stylesheet" href="src/main.styl">
<script src="https://kit.fontawesome.com/0e0e252d02.js" crossorigin="anonymous"></script>
<script src="src/main.js" type="module" defer></script>
<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>">
<meta name="author" content="<%= meta.author.name %>">
<meta name="publisher" content="<%= meta.author.name %>">
<meta name="og:title" content="<% meta.title %>">
<meta name="og:description" content="<% meta.description %>">
<meta name="og:type" content="website">
<meta name="og:site_name" content="<%= meta.title %>">
<meta name="og:url" content="<%= meta.url %>">
<meta name="og:img" content="img/<%= meta.favicon %>">
<meta name="og:img:type" content="<%= meta.image.type %>">
<meta name="og:img:width" content="<%= meta.image.width %>">
<meta name="og:img:height" content="<%= meta.image.height %>">
<meta name="twitter:image" content="img/<%= meta.favicon %>">
<meta name="twitter:card" content="summary_large_image">
<link rel="canonical" href="<%= meta.url %>">